@define-color background-color #181818ee;
@define-color border-color #33b1ff;
@define-color label #2dc7c4;
@define-color image #2dc7c4;
@define-color progress #00B0FF;

window {
    background: @background-color;
    border: 2px solid @border-color;
    border-radius: 10px;
}

#container {
    padding: 15px;
}

#image {
    color: @image;
    font-size: 48px;
}

#label {
    color: @label;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

progressbar {
    background: rgba(27, 42, 58, 0.5);
    border-radius: 5px;
    min-height: 10px;
}

progressbar > trough {
    background: rgba(27, 42, 58, 0.5);
    border-radius: 5px;
}

progressbar > trough > progress {
    background: linear-gradient(90deg, @progress, @border-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 196, 255, 0.3);
}
